<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V9</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/Login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    @* <link rel="stylesheet" type="text/css" href="~/Content/Login/animate/animate.css">*@
    <link href="~/Content/Login/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    @* <link rel="stylesheet" type="text/css" href="~/Content/Login/css-hamburgers/hamburgers.min.css">*@
    <link href="~/Content/Login/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    @*  <link rel="stylesheet" type="text/css" href="~/Content/Login/animsition.min.css">*@
    <link href="~/Content/Login/animsition.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    @* <link rel="stylesheet" type="text/css" href="~/Content/Login/select2/select2.min.css">*@
    <link href="~/Content/Login/select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="~/Content/Login/daterangepicker/daterangepicker.css">*@
    <link href="~/Content/Login/daterangepicker.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login/util.css" rel="stylesheet" />
    <link href="~/Content/Login/main.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>
<body>


    <div class="container-login100" style="background-image: url('../../Content/Login/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
            @RenderBody()

        </div>
    </div>



    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    @* <script src="~/Scripts/Login/jquery/jquery-3.2.1.min.js"></script>*@
    <script src="~/Scripts/Login/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Login/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Login/popper.js"></script>
    <script src="~/Scripts/Login/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Login/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Login/moment.min.js"></script>
    <script src="~/Scripts/Login/daterangepicker.js"></script>
    <!--===============================================================================================-->
    @* <script src="~/Scripts/Login/countdowntime/countdowntime.js"></script>*@
    <script src="~/Scripts/Login/countdowntime.js"></script>
    <!--===============================================================================================-->
    @*<script src="~/Scripts/Login/js/main.js"></script>*@
    <script src="~/Scripts/Login/main.js"></script>

</body>
</html>