@model List<string>


    <li class="nav-item">
        <a class="nav-link" href="/User/List">
            <i class="menu-icon mdi mdi-television"></i>
            <span class="menu-title">Quản lý người dùng</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/Product/List">
            <i class="menu-icon mdi mdi-television"></i>
            <span class="menu-title">Quản lý SP</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Type_Product/List">
            <i class="menu-icon mdi mdi-backup-restore"></i>
            <span class="menu-title">QL loại SP</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Customer/List">
            <i class="menu-icon mdi mdi-chart-line"></i>
            <span class="menu-title">QL khách hàng</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Bill/List">
            <i class="menu-icon mdi mdi-television"></i>
            <span class="menu-title">Quản lý hóa đơn</span>
        </a>
    </li>
    



